<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/authentication.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <header>
      <!-- Navbar Start -->
      <!-- Navbar -->
      <%- include('../shared/components/navBar.ejs') %>
      <!-- Navbar -->
      <!--Section: Design Block-->
      <section>
        <!-- Intro -->
        <div
          id="intro"
          class="bg-image vh-100"
          style="
            background-image: url('https://images.pexels.com/photos/5905443/pexels-photo-5905443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          "
        >
          <div
            class="mask mask-text"
            style="
              background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.7567401960784313) 0%,
                #2976c956 100%
              );
            "
          >
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h1 class="mb-3 text-center text-white text-uppercase">
                  About Akmal Academy
                </h1>
                <h4 class="mb-3 text-center text-white text-capitalize">
                  Akmal Academy is easy online learning designed for busy
                  students.<br />
                  Used by 1K subscribers all over Egypt.<br />
                  Unlimited practice with meaningful.
                </h4>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="/login"
                  >JOIN NOW</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Intro -->
      </section>
      <!--Section: Design Block-->
    </header>
    <main>
      <section id="section_3_aboutus">
        <!-- About Start -->
        <div class="container-xxl py-5">
          <div class="container py-5">
            <div class="row g-5 py-5">
              <!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100 aboutUs_img" src="img/Instructor.jpeg" alt="" style="object-fit: cover;">
                    </div>
                </div> -->
              <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="mb-4 py-3">Welcome to Akmal Academy</h1>
                <p class="mb-4">
                  In 2019 took the initiative to establishing a training academy
                  to provide an unrivaled course of professional Accountancy
                  qualifications giving students the flexibility to personalize
                  their studies to meet their own modified career aspirations.
                </p>
                <p class="mb-4">
                  Through providing exam preparation courses for ACCA (UK), CMA
                  (USA) and Dipifrs (UK) We help students and accounting and
                  finance professionals from around the globe to pass their
                  professional qualifications as well as excel in their
                  professional career and to get ready for the world and become
                  a person of value
                </p>
                <div class="row gy-2 gx-4 mb-4">
                  <div class="col-sm-6">
                    <p class="mb-0">
                      <i class="fa fa-arrow-right text-primary me-2"></i>Skilled
                      Instructors
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="mb-0">
                      <i class="fa fa-arrow-right text-primary me-2"></i>Online
                      Classes
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="mb-0">
                      <i class="fa fa-arrow-right text-primary me-2"></i
                      >International Certificate
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <p class="mb-0">
                      <i class="fa fa-arrow-right text-primary me-2"></i
                      >Consultation Service
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- About End -->
      </section>
      <section id="section6">
        <!-- Team Start -->
        <div class="container-xxl py-5">
          <div class="container">
            <div class="row g-4">
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                  <div class="overflow-hidden">
                    <img
                      class="img-fluid expertInstructor_img"
                      src="../shared/img/Instructor.jpg"
                      alt=""
                    />
                  </div>
                  <div
                    class="position-relative d-flex justify-content-center"
                    style="margin-top: -23px"
                  >
                    <div
                      class="bg-light d-flex justify-content-center pt-2 px-1"
                    >
                      <a
                        target="_blank"
                        class="btn btn-sm-square btn-primary mx-1"
                        href="https://www.facebook.com/Mohamed-Akmal-ACCA-CMA-Dip-IFRS-102762328854487/?ref=pages_you_manage"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                      <a
                        target="_blank"
                        class="btn btn-sm-square btn-primary mx-1"
                        href="https://www.youtube.com/channel/UCXgOuHJUGzmxklxwdk0-T1w"
                        ><i class="fab fa-youtube"></i
                      ></a>
                      <a
                        target="_blank"
                        class="btn btn-sm-square btn-primary mx-1"
                        href="https://www.linkedin.com/in/mohamed-akmal-acca-cma-dip-ifrs-ifrs-lecturer-3027543a/"
                        ><i class="fab fa-linkedin-in"></i
                      ></a>
                    </div>
                  </div>
                  <div class="text-center p-4">
                    <h5 class="mb-0">Mr.Akmal</h5>
                    <small>Director at Catalyst Partners</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-6 wow fadeInUp">
                <div class="wow fadeInUp p-5" data-wow-delay="0.2s">
                  <h2>Expert Instructors</h2>
                  <p>
                    Mr. Akmal is a Director of Audit and Assurance in Catalyst
                    partners, have more than 14 years’ experience in audit and
                    finance including working in big 4 firms and more than 7
                    years in training sector.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Team End -->
      </section>
    </main>

    <!-- Footer Start -->
    <%- include('../shared/components/footer.ejs') %>

    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="fas fa-arrow-up"></i
    ></a>

    <!-- WhatsApp Icon -->
    <a
      href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
      class="float"
      target="_blank"
    >
      <i class="fab fa-whatsapp my-float"></i>
    </a>

    <!-- End your project here-->

    <!-- MDB -->
    <!-- Custom scripts -->
    <script src="../shared/js/mdb.min.js" type="text/javascript"></script>
  </body>
</html>
