<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/authentication.css" />
  </head>
  <body>
      <!-- Start your project here-->
    <header>
        <!-- Navbar Start -->
<!-- Navbar -->
      <%- include('../shared/components/navBar.ejs') %>

  <!-- Navbar -->
<!-- Navbar End -->

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-53" style="
          background-image: url('https://images.pexels.com/photos/5905443/pexels-photo-5905443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        ">
<div class="mask mask-text" style="background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.7567401960784313) 0%,
                #2976c956 100%
              );">
                      <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3 text-center text-white text-uppercase">Association Of Chartered <br> Certified Accountants (ACCA)</h1>
            </div>
          </div>
    </div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->

  <main>
     <section>
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-4">
                <%- include('../shared/components/servicesIndex.ejs') %>
                </div>
                <div class="col-md-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active"
                         id="list-acca"
                          role="tabpanel"
                          aria-labelledby="list-acca-list">
                          <div class="position-relative">
                        <a class="img-block img-block-asp-om circle-effect-om loaded-omd" href="">
                            <img src="https://ams03pap001files.storage.live.com/y4mbqj1gitIz4ncQySqz1syFPmk4RT4h4WQTwTQ-2XVIBKjINXyuVp-9L0vCkCkZYoDg2O0tmhnLEUBwJg78chtFBtREmNa5eoRaF7aJZGTMB9KWx7YTHjflaDI6YzczKXE17puawNKzgOsO6xOgXFO6mrOmWVh1uRyfkjIUyUpZnoGLw3hUp2L32pinkDV-N08yxFCLSg7swFwGbUn2lXRUg/ACCA_Qualification_Global_brochure.pdf?psid=1&width=1300&height=2048" alt="">
                        </a>
                    </div>
                          <div class="single-post-om">     
                            <div class="single-content-title-om">
                                <h2 class="single-title-om">Association of Chartered Certified Accountants (ACCA)</h2>
                                <div class="single-content-om">
                                    <p>All over the world, employers seek out ACCA members to lead their business to sustainable success.</p>
                                    <p>That’s because they know that ACCA members are strategic thinkers with high ethical integrity, strong financial know-how and the right business acumen.</p>
                                    <p>To become an ACCA member, you have an exciting journey ahead: The ACCA Qualification. Work out where you start your journey and take a look at our Start Your Journey chart in the related document at the bottom of this page.</p>
                                    <p>This journey will take you through a combination of exams, ethics and three years' professional experience. Which means you’ll enter the workplace ready to make a difference in today’s fast-paced business world.</p>
                                    <p>When you qualify, you…</p>
                                    <p>- Become a member of the world’s most forward-thinking accountancy body – the ACCA letters after your name are globally recognised and show employers that you work to the highest professional and ethical standards.</p>

<p>- Open doors to opportunities all over the world – the ACCA Qualification is respected globally, and will help you to open doors wherever your career path may take you. It also gives you the flexibility to branch out into new areas and develop new skills throughout your career.</p>

<p>- Make the world a better place – Ethics are absolutely fundamental to your studies and the whole ACCA approach. Which means that when you go out into the world, you’ll be able to set and maintain the high standards the organisations you work with need to move into the future.</p>

<p>- Get support throughout your journey – you get access to world-class resources, forums, insight and advice all the while you’re studying and throughout your professional life.</p>

<p>- Develop your skills – you’ll have opportunities to learn new skills and gain many other qualifications along the way – including a BSc and an MSc. accountants. We aim to offer business-relevant, first-choice qualifications to people of application, ability, and ambition around the world who seek a rewarding career in accountancy, finance, and management.</p>  
                                    </div>
                                     <button class="btn btn-primary px-5 w-100">Subscribe</button>
                            </div>
                        </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
     </section>
  </main>
   <!-- Footer Start -->
      <%- include('../shared/components/footer.ejs') %>

<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fas fa-arrow-up"></i></a>

<!-- WhatsApp Icon -->
<a href="https://wa.me/message/RWUHW6VIMC76O1" class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
</a>


<!-- End your project here-->

 <!-- Custom scripts -->
    <script src="../shared/js/mdb.min.js" type="text/javascript"></script>
</body>
</html>

