<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/authentication.css" />
  </head>
  <body>
      <!-- Start your project here-->
    <header>
        <!-- Navbar Start -->
<!-- Navbar -->
      <%- include('../shared/components/navBar.ejs') %>

  <!-- Navbar -->
<!-- Navbar End -->

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-53" style="
          background-image: url('https://images.pexels.com/photos/5905443/pexels-photo-5905443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        ">
<div class="mask mask-text" style="background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.7567401960784313) 0%,
                #2976c956 100%
              );">
                      <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3 text-center text-white text-uppercase">Association Of Chartered <br> Certified Accountants (ACCA)</h1>
            </div>
          </div>
    </div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->

  <main>
     <section>
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-4">
                <%- include('../shared/components/servicesIndex.ejs') %>
                </div>
                <div class="col-md-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active"
                         id="list-acca"
                          role="tabpanel"
                          aria-labelledby="list-acca-list">
                          <div class="position-relative">
                        <a class="img-block img-block-asp-om circle-effect-om loaded-omd" href="">
                            <img src="https://cdn.stayhappening.com/events7/banners/636c25562b4b54a433a806bbc389b5c50dc1b3d7e5198458295e42f443fb5c2f-rimg-w1200-h628-gmir.jpg?v=1634227879" alt="">
                        </a>
                    </div>
                          <div class="single-post-om">     
                            <div class="single-content-title-om">
                                <h2 class="single-title-om">Association of Chartered Certified Accountants (ACCA)</h2>
                                <div class="single-content-om">
                                    <p>ACCA (the Association of Chartered Certified Accountants) is the global body for professional accountants. We aim to offer business-relevant, first-choice qualifications to people of application, ability, and ambition around the world who seek a rewarding career in accountancy, finance, and management.</p>
                                     <p>Founded in 1904, ACCA’s core values are opportunity, diversity, innovation, integrity, and accountability. We believe that accountants bring value to economies in all stages of development. Our values are aligned with the needs of employers and we work to open up the profession to people of all backgrounds.</p>
                                     <p>We support our 170,000 members and 436,000 students in 180 countries through a network of 91 offices and centers, helping them to develop successful careers in accounting and business. Through our public interest remit, we promote appropriate regulation of accounting and conduct relevant research to ensure accountancy continues to grow in reputation and influence</p>
                                    </div>
                            </div>
                        </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
     </section>
  </main>
   <!-- Footer Start -->
   <div class="container-fluid bg-dark text-light footer pt-5  wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 col-md-6">
                <h4 class="text-white mb-3">Quick Link</h4>
                <a class="btn btn-link" href="about-us.html">About Us</a>
                <a class="btn btn-link" href="contactus.html">Contact Us</a>
                <a class="btn btn-link" href="privacy-policy.html">Privacy Policy</a>
                <a class="btn btn-link" href="terms-and-conditions.html">Terms & Condition</a>
                <a class="btn btn-link" href="">FAQs & Help</a>
            </div>
            <div class="col-lg-6 col-md-6">
                <h4 class="text-white mb-3">Contact</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Akmal Academy</a>, All Right Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fas fa-arrow-up"></i></a>

<!-- WhatsApp Icon -->
<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
</a>


<!-- End your project here-->

 <!-- Custom scripts -->
    <script src="../shared/js/mdb.min.js" type="text/javascript"></script>
</body>
</html>

