<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/authentication.css" />
  </head>
  <body>
      <!-- Start your project here-->
    <header>
        <!-- Navbar Start -->
<!-- Navbar -->
        <%- include('../shared/components/navBar.ejs') %>

<!-- Navbar End -->

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-53" style="
          background-image: url('https://images.pexels.com/photos/5905443/pexels-photo-5905443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        ">
<div class="mask mask-text" style="background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.7567401960784313) 0%,
                #2976c956 100%
              );">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3 text-center text-white text-uppercase">Certified Management Accountant (CMA))</h1>
            </div>
          </div>
    </div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->

  <main>
     <section>
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-4">
                 <%- include('../shared/components/servicesIndex.ejs') %>

                </div>
                <div class="col-md-8">
                    <div class="tab-content" id="nav-tabContent">      
                     <div class="tab-pane fade show active"
                     id="list-cma"
                      role="tabpanel"
                      aria-labelledby="list-cma-list">
                      <div class="position-relative">
                        <a class="img-block img-block-asp-om circle-effect-om loaded-omd" href="">
                            <img src="https://wagacademy.net/wp-content/uploads/2021/10/m226qAAoRjK5eD7dI3Gb_cma-1.png" alt="">
                        </a>
                    </div>
                    <div class="single-content-title-om mt-5">
                        <h2 class="single-title-om">Certified Public Accountant (CPA)</h2>
                        <div class="single-content-om">
                            <p>CMA It means the certificate of the certified management accountant was designed by the IMA Institute, which means the Institute of Management Accountants. This certificate is also considered among the advanced and internationally approved certificates from the American Association of Management Accountants, and it is one of the most important American professional membership certificates that distinguishes its owners at work because the experience that is gained through The certificate gives the accountant acumen and excellence in administrative accounting work and qualifies him for prestigious positions; this certificate is also designed for some other fields in addition to accountants: engineers/managers / internal and external auditors/factory and production managers / financial executives.</p>
                        </div>
                    </div>
                    </div>
                    <!-- end of tab five -->
                    </div>  
                </div>
            </div>
        </div>
     </section>
  </main>
   <!-- Footer Start -->
     <%- include('../shared/components/footer.ejs') %>

<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fas fa-arrow-up"></i></a>

<!-- WhatsApp Icon -->
<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
</a>


<!-- End your project here--> 
 <!-- Custom scripts -->
    <script src="../shared/js/mdb.min.js" type="text/javascript"></script>
</body>
</html>

