<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/authentication.css" />
  </head>
  <body>
      <!-- Start your project here-->
    <header>
        <!-- Navbar Start -->
<!-- Navbar -->
      <%- include('../shared/components/navBar.ejs') %>

  <!-- Navbar -->
<!-- Navbar End -->

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-53" style="
          background-image: url('https://images.pexels.com/photos/5905443/pexels-photo-5905443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        ">
      <div class="mask mask-text" style="background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.7567401960784313) 0%,
                #2976c956 100%
              );">

        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3 text-center text-white text-uppercase">IFRS Diploma</h1>
            </div>
          </div>
    </div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->

  <main>
     <section>
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-4">
                   <%- include('../shared/components/servicesIndex.ejs') %>

                </div>
                <div class="col-md-8">
                    <div class="tab-content" id="nav-tabContent">
                       <div class="tab-pane fade show active"
                       id="list-ifrs"
                        role="tabpanel"
                        aria-labelledby="list-ifrs-list">
                        <div class="position-relative">
                          <a class="img-block img-block-asp-om circle-effect-om loaded-omd" href="">
                              <img src="https://wagacademy.net/wp-content/uploads/2021/10/bi-ifrs.png" alt="">
                          </a>
                      </div>
                      <div class="single-content-title-om">
                          <h2 class="single-title-om">IFRS Diploma</h2>
                          <div class="single-content-om">
                            <p>*What is IFRS</p>
                            <p>IFRS sets the full standards for transparency, accountability and efficiency in financial markets around the world</p>
                            <p>Promote confidence, growth and long financial stability in the global economy.</p>
                            <p>Companies benefit from IFRS because investors are the ones who put money into companies if their business practices are transparent and there is no manipulation.</p>
                            <p>IFRS is sometimes confused with International Financial Reporting Standards (IAS), which are the older standards that have been replaced by IFRS. The IAS ran from 1973 through 2000, and the International Accounting Standards Board (IASB) replaced the IASC in 2001.</p>
                            <p>*What is the benefit of studying the International Financial Reporting Standards (IFRS) certificate?</p>
                            <p>IFRS will help you remain able to understand how International Accounting Standards (IFRS) are used around the world and Egypt Understand how international accounting standards are changing IFRS International Accounting Standards Board (IASB) Examine the prerequisites of IFRS by explaining each standard and providing guidance on how to use IFRS in practice</p>
                          </div>
                      </div>
                      </div>
                    </div>  
                </div>
            </div>
        </div>
     </section>
  </main>
   <!-- Footer Start -->
       <%- include('../shared/components/footer.ejs') %>

<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fas fa-arrow-up"></i></a>

<!-- WhatsApp Icon -->
<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
</a>


<!-- End your project here--> 

  <script src="../shared/js/mdb.min.js" type="text/javascript"></script>
</body>
</html>

