<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/authentication.css" />
  </head>
  <body>
      <!-- Start your project here-->
    <header>
        <!-- Navbar Start -->
<!-- Navbar -->
      <%- include('../shared/components/navBar.ejs') %>

  <!-- Navbar -->
<!-- Navbar End -->

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-53" style="
          background-image: url('https://images.pexels.com/photos/5905443/pexels-photo-5905443.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        ">
      <div class="mask mask-text" style="background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.7567401960784313) 0%,
                #2976c956 100%
              );">

        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3 text-center text-white text-uppercase">IFRS Diploma</h1>
            </div>
          </div>
    </div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->

  <main>
     <section>
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-4">
                   <%- include('../shared/components/servicesIndex.ejs') %>

                </div>
                <div class="col-md-8">
                    <div class="tab-content" id="nav-tabContent">
                       <div class="tab-pane fade show active"
                       id="list-ifrs"
                        role="tabpanel"
                        aria-labelledby="list-ifrs-list">
                        <div class="position-relative">
                          <a class="img-block img-block-asp-om circle-effect-om loaded-omd" href="">
                              <img src="https://wagacademy.net/wp-content/uploads/2021/10/bi-ifrs.png" alt="">
                          </a>
                      </div>
                          <div class="single-post-om">     
                      <div class="single-content-title-om">
                          <h2 class="single-title-om">IFRS Diploma</h2>
                          <div class="single-content-om">
                            <p>If you are a finance professional who is not already knowledgeable about the details of International Financial Reporting Standards (IFRS), this qualification has a fast and efficient solution to meet your needs. If you need to develop a working knowledge of the area, the DipIFR can help prepare you.</p>
                            <p>International Financial Reporting Standards (IFRS) are mandated in more than 100 countries worldwide. All listed companies in the European Union (EU) have to prepare consolidated company accounts that comply with IFRS. It also affects associates and subsidiaries of EU-listed companies.</p>
                            <p>Other countries such as Australia, Hong Kong and South Africa have already adopted IFRS or equivalents as their local Generally Accepted Accounting Principles (GAAP). And many other countries around the world, including India, are moving towards applying IFRS, which is having a significant impact on financial reporting.</p>
                            <h3>Course objectives</h3>
                            <p>The course is designed to develop your knowledge and understanding of International Financial Reporting Standards. You will also learn how to apply them, as well as the concepts and principles which underpin them.</p>
                            <p>On completion of the Diploma candidates should be able to:</p>
                            <p>- Understand, explain and apply the IASB's Conceptual Framework for Financial Reporting.</p>
                            <p>- Apply relevant financial reporting standards to key elements of financial reports.</p>
                            <p>- Identify and apply disclosure requirements for companies in financial reports and notes.</p>
                            <p>- Prepare group financial statements (excluding group cash-flow statements) including subsidiaries, associates and joint arrangements.</p>
                          </div>
                              <button class="btn btn-primary px-5 w-100">Subscribe</button>
                      </div>
                      </div>
                      </div>
                    </div>  
                </div>
            </div>
        </div>
     </section>
  </main>
   <!-- Footer Start -->
       <%- include('../shared/components/footer.ejs') %>

<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fas fa-arrow-up"></i></a>

<!-- WhatsApp Icon -->
<a href="https://wa.me/message/RWUHW6VIMC76O1" class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
</a>


<!-- End your project here--> 

  <script src="../shared/js/mdb.min.js" type="text/javascript"></script>
</body>
</html>

