<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Akmal Academy</title>
<!-- MDB icon -->
<link rel="icon" href="https://i.ibb.co/KhwJwJB/darkred-logo.png" />
<link href="../shared/lib/animate/animate.min.css" rel="stylesheet" />

<!-- Font Awesome -->
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500&family=Poppins:wght@300;400;500;600;700;800&display=swap"
  rel="stylesheet"
/>
