<div class="list-group list-group-light" id="list-tab" role="tablist">
  <a
    href="/services/ACCA"
    class="list-group-item list-group-item-action px-3 border-0 ripple"
    >Association of Chartered Certified Accountants (ACCA)</a
  >
  <a
    href="/services/IFRS"
    class="list-group-item list-group-item-action px-3 border-0 ripple"
    >IFRS Diploma</a
  >
  <a
    href="/services/CMA"
    class="list-group-item list-group-item-action px-3 border-0 ripple"
    >Certified Management Accountant (CMA)</a
  >
</div>
